{% extends 'header.html' %}
{% block myContent %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">

<form action="http://localhost:8000/employee/Delete_Search_api/" method="post">

    <table class="table table-borderless">
    <tr>
        <td> Employee Code </td>
        <td> <input placeholder="Enter employee Code" name="empcode" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td></td>
        <td> <button type="submit" class="btn btn-success"> SEARCH</button></td>
    </tr>
</table>

</form>
     {% if data  %}
     <form action="http://localhost:8000/employee/viewemployee/deletebtn/" method="post">
     <table class="table table-borderless">
      {% for i in data %}


       <tr>
             <!-- <td>  ID</td> -->
             <td> <input  type="text" name="newId" value="{{i.id }}"  > </td>
         </tr>

  <tr>
             <td> Emp Code </td>
             <td> <input type="text" value="{{i.empcode }}" class="form-control" name="newempcode" readonly> </td>
         </tr>
         
         <tr>
             <td> Name </td>
             <td> <input type="text" value="{{i.name }}" class="form-control" name="newname" readonly> </td>
         </tr>

            <tr>
             <td> Employee Designation  </td>
             <td><input type="text" value="{{i.empdesig }}" class="form-control" name="newempdesig" readonly>  </td>
         </tr>


            <tr>
             <td> Employee Salary  </td>
             <td><input type="text" value="{{i.empsalary }}" class="form-control" name="newempsalary" readonly>  </td>
         </tr>

<tr>
    <td></td>
    <td>         <button class="btn btn-danger"type="submit"> DELETE </button>
</td>
</tr>
         {% endfor %}
     </table></form>
     {% endif %}



        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
</div>



{% endblock %}