{% extends 'header.html' %}
{% block myContent %}
<div class="container">
         <div class="row">
             <div class="col col-12 col-sm-2 col-md-2">

             </div>
             <div class="col col-12 col-sm-8 col-md-8">

              <form enctype="multipart/form-data" action="http://localhost:8000/employee/add/" method="post">

                  <table class="table table-borderless">

                    <tr>
                        <td> Select Image </td>
                        <td> <input name="myfile" type="file" class="form-control">  </td>
                    </tr>

                    <tr>
                        <td>Employee Code </td>
                        <td> <input name="empcode" type="number" class="form-control"> </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td> <input name="name" type="text" class="form-control"> </td>
                    </tr>

                    <tr>
                        <td>Designation </td>
                        <td> <input name="empdesig" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Salary </td>
                        <td> <input name="empsalary" type="number" class="form-control"></td>
                    </tr>
                  
                      <tr>
                        <td>Username </td>
                        <td> <input name="username" type="text" class="form-control"></td>
                    </tr>  <tr>
                        <td>Password </td>
                        <td> <input name="password" type="text" class="form-control"></td>
                    </tr>
                  
                  <tr>
                        <td></td>
                        <td>
                          <center>  <button type="submit"  class="btn btn-success">Send</button></center>
                        </td>
                    </tr>
                </table>

              </form>


            </div>
             <div class="col col-12 col-sm-2 col-md-2">

                
             </div>
         </div>

 


     </div>





{% endblock  %}


     